    .word-list{border:5px solid pink;background-color:blue;width:550px;}
    .word-title{color: rgb(0, 255, 0); font-family: cambria, ו; font-size: 35px; line-height: 52.5px;}
    .word-item{color: rgb(255, 255, 0); font-family: cambria, ו; font-size: 35px; line-height: 52.5px;} 
